# U.S Birth Data Analysis
    #use us_births data to compute the following using np:
        #extract the year, gender and births column from the data
        #compute the aggregation of sum of total birth, sum of female birth and sum of male birth, mean and median
        #compute the maximum births and minimum births
        #indicate the gender with minimum birth and maximum birth
        #indicate the year with minimum birth and maximum birth

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Importing the dataset

In [4]:
us_birth = pd.read_csv("C:\\Users\\MY LAPTOP\\Desktop\\SQI\\Data Science\\Numpy\\Datasets\\us_births.csv")
us_birth.head()

   year  month  day gender  births
0  1969      1  1.0      F    4046
1  1969      1  1.0      M    4440
2  1969      1  2.0      F    4454
3  1969      1  2.0      M    4548
4  1969      1  3.0      F    4548

In [25]:
us_birth.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15547 entries, 0 to 15546
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   year    15547 non-null  int64
 1   month   15547 non-null  int64
 2   day     15067 non-null  float64
 3   gender  15547 non-null  object
 4   births  15547 non-null  int64
dtypes: float64(1), int64(3), object(1)
memory usage: 607.4+ KB

# Extracting the year, gender and births column from the data

In [5]:
birth_year = np.array(us_birth['year'])
gend = np.array(us_birth['gender'])
birth = np.array(us_birth['births'])
print("Year Column:\n", birth_year, "\n")
print("Gender Column:\n", gend, "\n")
print("Births Column:\n", birth)

Year Column:
 [1969 1969 1969 ... 2008 2008 2008]

Gender Column:
 ['F' 'M' 'F' ... 'M' 'F' 'M']

Births Column:
 [  4046   4440   4454 ... 165468 173215 181235]

# Computing the aggregation of sum of total birth, sum of female birth and sum of male birth, mean and median

In [45]:
# Sum of births
print("Total birth:  ", birth.sum())

Total birth:   151774378

In [46]:
# Computing sum of female birth and sum of male birth
fe = [] # female birth list
ma = [] # male birth list
for x, y in zip(us_birth["gender"], us_birth["births"]):
    if x == "F":
        fe.append(y)
    else:
        ma.append(y)
# print("female births:\n", fe)
# print("male births:\n", ma)

In [47]:
# Sum of female birth
#sum(fe) # python method
fem = np.array(fe) #converting list to np array
fem.sum()

74035823

In [48]:
# Sum of male birth
#sum(ma) # python method
mal = np.array(ma) # converting list to np array
mal.sum()

77738555

In [49]:
# Computing mean and meadian birth
print("Mean birth:  ", np.mean(birth), "\n")
print("Median birth:  ", np.median(birth))

Mean birth:   9762.293561458802

Median birth:   4814.0

In [50]:
# computing the maximum births and minimum births
print("Maximum birth:  ", np.max(birth), "\n")
print("Minimum birth:  ", np.min(birth))

Maximum birth:   199622

Minimum birth:   1

In [51]:
# Indicate the gender with minimum birth and maximum birth
print("Gender with minimum birth: ", gend[birth.argmin()])
print("Index of minimum birth: ", birth.argmin(), "\n")

print("Gender with maximun birth: ", gend[birth.argmax()])
print("Index of maximum birth: ", birth.argmax())

Gender with minimum birth:  F
Index of minimum birth:  4715

Gender with maximun birth:  M
Index of maximum birth:  15514

In [52]:
# Indicate the year with minimum birth and maximum birth
print("Year with minimum birth: ", birth_year[birth.argmin()], '\n')
print("Year with maximum birth: ", birth_year[birth.argmax()])

Year with minimum birth:  1975

Year with maximum birth:  2007